html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
canvas {
  display: block;
}
body {
  margin: 0;
}
#unity-container {
  width: 100%;
  height: 100%;
}
#unity-canvas {
  width: 100%;
  height: 100%;
  background: #231f20;
}
#loading-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#unity-loading-bar {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#unity-logo {
  text-align: center;
}
#unity-logo img {
  max-width: 80%;
}
#unity-progress-bar-empty {
  width: 80%;
  height: 24px;
  margin: 10px 20px 20px 10px;
  text-align: left;
  border: 1px solid white;
  padding: 2px;
}
#unity-progress-bar-full {
  width: 0%;
  height: 100%;
  background: white;
}
.light #unity-progress-bar-empty {
  border-color: black;
}
.light #unity-progress-bar-full {
  background: black;
}

#unity-fullscreen-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 38px;
  height: 38px;
  background: url("fullscreen-button.png") no-repeat center;
  background-size: contain;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.spinner {
  margin: 10px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  animation: spinner-spin 1.1s infinite linear;
}
@keyframes spinner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* loader CSS */

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg: #e3e4e8;
  --fg: #17181c;
  --dur: 8s;
  font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1280 - 320));
}
body {
  background: var(--bg);
  color: var(--fg);
  font: bold 1em/1.5 "Comfortaa", sans-serif;
  display: grid;
  place-items: center;
  align-content: center;
  height: 100vh;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.hexagon {
  margin-bottom: 1.5em;
  overflow: hidden;
  position: relative;
  width: 15em;
  height: 15em;
}
.hexagon__group,
.hexagon__sector,
.hexagon__sector:before,
.hexagon__sector:after {
  position: absolute;
}
.hexagon__group {
  width: 100%;
  height: 100%;
}
.hexagon__group:nth-child(2) .hexagon__sector,
.hexagon__group:nth-child(2) .hexagon__sector:before,
.hexagon__group:nth-child(2) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -1 / 6);
}
.hexagon__group:nth-child(3) .hexagon__sector,
.hexagon__group:nth-child(3) .hexagon__sector:before,
.hexagon__group:nth-child(3) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -2 / 6);
}
.hexagon__group:nth-child(4) .hexagon__sector,
.hexagon__group:nth-child(4) .hexagon__sector:before,
.hexagon__group:nth-child(4) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -3 / 6);
}
.hexagon__group:nth-child(5) .hexagon__sector,
.hexagon__group:nth-child(5) .hexagon__sector:before,
.hexagon__group:nth-child(5) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -4 / 6);
}
.hexagon__group:nth-child(6) .hexagon__sector,
.hexagon__group:nth-child(6) .hexagon__sector:before,
.hexagon__group:nth-child(6) .hexagon__sector:after {
  animation-delay: calc(var(--dur) * -5 / 6);
}
.hexagon__group:nth-child(odd) {
  transform: rotate(30deg);
}
.hexagon__sector,
.hexagon__sector:before,
.hexagon__sector:after {
  animation-duration: var(--dur);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /*animation-play-state: paused;*/
  width: 0.2em;
  height: 0.2em;
}
.hexagon__sector {
  animation-name: moveOut1;
  top: calc(50% - 0.1em);
  left: calc(50% - 0.1em);
}
.hexagon__sector:nth-child(2) {
  animation-name: moveOut2;
}
.hexagon__sector:nth-child(3) {
  animation-name: moveOut3;
}
.hexagon__sector:nth-child(4) {
  animation-name: moveOut4;
}
.hexagon__sector:nth-child(5) {
  animation-name: moveOut5;
}
.hexagon__sector:nth-child(6) {
  animation-name: moveOut6;
}
.hexagon__sector:before,
.hexagon__sector:after {
  animation-name: ripple;
  background-color: currentColor;
  border-radius: 0.1em;
  content: "";
  display: block;
  top: 0;
  left: 0;
  transform-origin: 0.1em 0.1em;
}
.hexagon__sector:before {
  transform: rotate(-30deg);
}
.hexagon__sector:after {
  transform: rotate(-150deg);
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #17181c;
    --fg: #e3e4e8;
  }
}
/* Animations */
@keyframes moveOut1 {
  from {
    transform: translateY(0) scale(0);
  }
  3% {
    transform: translateY(0.2em) scale(1);
  }
  97% {
    transform: translateY(7.3em) scale(1);
  }
  to {
    transform: translateY(7.5em) scale(0);
  }
}
@keyframes moveOut2 {
  from {
    transform: rotate(60deg) translateY(0) scale(0);
  }
  3% {
    transform: rotate(60deg) translateY(0.2em) scale(1);
  }
  97% {
    transform: rotate(60deg) translateY(7.3em) scale(1);
  }
  to {
    transform: rotate(60deg) translateY(7.5em) scale(0);
  }
}
@keyframes moveOut3 {
  from {
    transform: rotate(120deg) translateY(0) scale(0);
  }
  3% {
    transform: rotate(120deg) translateY(0.2em) scale(1);
  }
  97% {
    transform: rotate(120deg) translateY(7.3em) scale(1);
  }
  to {
    transform: rotate(120deg) translateY(7.5em) scale(0);
  }
}
@keyframes moveOut4 {
  from {
    transform: rotate(180deg) translateY(0) scale(0);
  }
  3% {
    transform: rotate(180deg) translateY(0.2em) scale(1);
  }
  97% {
    transform: rotate(180deg) translateY(7.3em) scale(1);
  }
  to {
    transform: rotate(180deg) translateY(7.5em) scale(0);
  }
}
@keyframes moveOut5 {
  from {
    transform: rotate(240deg) translateY(0) scale(0);
  }
  3% {
    transform: rotate(240deg) translateY(0.2em) scale(1);
  }
  97% {
    transform: rotate(240deg) translateY(7.3em) scale(1);
  }
  to {
    transform: rotate(240deg) translateY(7.5em) scale(0);
  }
}
@keyframes moveOut6 {
  from {
    transform: rotate(300deg) translateY(0) scale(0);
  }
  3% {
    transform: rotate(300deg) translateY(0.2em) scale(1);
  }
  97% {
    transform: rotate(300deg) translateY(7.3em) scale(1);
  }
  to {
    transform: rotate(300deg) translateY(7.5em) scale(0);
  }
}
@keyframes ripple {
  from,
  to {
    width: 0.2em;
  }
  33% {
    width: 2.4em;
  }
}

@media only screen and (max-width: 767px) {
  #loading-cover {
    background-color: black;
    color: white;
  }
}
